body {
	background-color: LightGray;
	font-family: "Open Sans";
}

/*columns*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  /*  border: 1px solid red;*/
}

.col-1 {width: 10%;}
.col-2 {width: 2%;}
.col-3 {width: 20%;}
.col-4 {width: 50%;}
.col-5 {width: 28%;}
.col-6 {width: 100%;}

.col-7 {width: 100%;}
.col-8 {width: 90%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

#inboxWrapperId {
	margin: auto;
  width: auto;
  height: relative;
  padding: 1px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

#emailHeaderId{
  margin: auto;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 12.5px;
  font-size: 25px;
  background-color: salmon;
}

#emailFooterId{
  margin: auto;
  margin-left: -10%;
  width: 110%;
  height: 50px;
  background-color: salmon;
}

#inboxCountId{
  margin: auto;
  width: auto;
  height: 50px;
  padding-top: 25px;
  background-color: cornflowerblue;
  font-size: 15px;
}

#emailWrapperId{
  margin: auto;
  width: auto;
}

#rightWindowId{
  margin-left: 125px;
  height: 100%;
}

.sidenav {
  height: auto;
  width: 125px;
  margin-top: 5%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidenav #mainbutton{
  background-color: tomato;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 5%;
  width: 90%;
  text-align: center;
  font-size: 12px;
  color: white;
  display: block;
}

.sidenav #mainbutton:hover {
    background-color: maroon;
    cursor: pointer;
}

.sidenav button {
  background-color: LightGray;
  width: 100%;
  opacity: 0%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  display: block;
  text-align: left;
}

.sidenav button:hover {
    background-color: Gray;
    cursor: pointer;
}

.emailLineClass{
  box-sizing: border-box;
  margin-bottom: 10px;
}

.emailLineClass:hover {
  background-color: darkgray;
}

.subjectLineClass {
	float: left;
  font-size: 15px;
	display: block;
  box-sizing: border-box;
}

.senderLineClass {
  float: left;
  font-size: 15px;
	display: block;
  box-sizing: border-box;
}

.dateLineClass {
  background-color: gray;
  float: left;
  width: auto;
  font-size: 10px;
  display: block;
  box-sizing: border-box;
}

.emailBodyContent{
  float: left;
  font-size: 10px;
  display: none;
  background-color: orange;
  box-sizing: border-box;
}

.hrClass{
  color: black;
  box-sizing: border-box;
  margin-top: 20px;
  width: 98%;
}

.carrotClassRight{
  display: block;
}

.carrotClassRight:hover {
  cursor: pointer;
}

.carrotClassDown{
  display: none;
}

.carrotClassDown:hover {
  cursor: pointer;
}












